@font-face{
    font-family: 'Gagalin';
    src: url('./fonts/gagalin/Gagalin-Regular.otf') format('otf')
}
@font-face{
    font-family:'Glacial Indifference';
    src:url('./fonts/glacial-indifference/GlacialIndifference-Bold.otf')format('otf'),
        url('./fonts/glacial-indifference/GlacialIndifference-Italic.otf')format('otf'),
        url('./fonts/glacial-indifference/GlacialIndifference-Regular.otf')format('otf')
}
*{
    box-sizing:border-box;
}

body{
    font-family:Gagalin;
}
html{
    font-size: 16px;
}
header{
    width: 100%;
    height:100px;
    background-color:black;
    position:fixed;
    top:0;
    z-index:10;
    
}
.logo{
    float: left;
    margin-left:3%;
}
.nav_links{
    max-width:80%;
    display: flex;
    color:lightblue;
    justify-content: space-around;
    float:right;
    flex-shrink:4;
    margin-top:5%;
}
.nav_links h3{
    margin:0 15px;

}
.banner{
    width:100%;
    height:640px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url('./images/amazon-banner.jpg');
    margin-top:100px;
    background:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#banner_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:15% 0;
}
#banner_text h1{
   color:white;
    text-align:center;
    font-size: 7rem;
    z-index: 5;
}
#banner_text h3{
    color:white;
     text-align:center;
     font-size: 3rem;
     z-index: 5;
     padding-bottom: 100px;
 }
 /*Styling for Mission Statement Section*/
 .mission{
     max-width:100%;
     background-color: #FFDE59;
     font-family:"Glacial Indifference",sans-serif;
 }
 .mission_text{
     display:flex;
     flex-direction:column;
     text-align:center;
     padding:10px 0;
 }
 .mission_text h2{
     font-size: 4rem;
     font-weight:bold;
 }
 .mission_text h4{
     font-size: 2rem;
 }
 .mission_image_container{
     width:100%;
     display:flex;
     justify-content:space-around;
     margin:0 auto;
     
 }
 .mission_image{
    position:relative;
    max-width:620px;
    height:auto;
    margin:1%;
 }
 .mission_image2{
    position:relative;
    max-width:620px;
    height:auto;
    margin:1%;
 }
 .mission_image3{
    position:relative;
    max-width:620px;
    height:auto;
    margin:1%;
 }

 .mission_1{
     position:block;
     max-width:100%;
     height:auto;
 }
 .image_title{
     text-align:center;
     font-size:2rem;
     font-weight: bold;
 }
 .image_description{
     text-align:center;
     font-size:1.5rem;
 }
 .mission_2{
    position:block;
    max-width:100%;
    height:auto;
}
.image_title2{
    text-align:center;
    font-size:2rem;
    font-weight: bold;
}
.image_description2{
    text-align:center;
    font-size:1.5rem;
}
.mission_3{
    position:block;
    max-width:100%;
    height:auto;
}
.image_title3{
    text-align:center;
    font-size:2rem;
    font-weight: bold;
}
.image_description3{
    text-align:center;
    font-size:1.5rem;
}
/*Image overlay styling */
 .image_overlay{
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:99.6%;
     background: rgba(0,0,0,0.6);
     color:white;
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     align-content:center;
     opacity:0;
     transition: opacity 0.3s;
     overflow:hidden;
 }

 .image_overlay_blur{
     backdrop-filter: blur(5px);
 }
 .image_overlay >*{
     transform: translateY(20px);
     transition:transform 0.3s;
 }
 .image_overlay:hover{
     opacity:1;
 }
 .image_overlay:hover >*{
    transform: translateY(0);
 }
 
 .wildlife{
     width:100%;
     background-color:#C9E265;
     display:flex;
     justify-content: center;
     font-family:"Glacial Indifference",sans-serif;
 }
 .wildlife_text{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:10px 0;
 }
 .wildlife_text h2{
    font-size: 4rem;
    font-weight:bold;
 }
 .wildlife_text h4{
    font-size: 2rem;
 }
 /*
 .wildlife_images img{
    max-width:30%;
    height: auto;
    margin:1%;
 }*/
 .wildlife_image_container{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin:0 auto;
 }
 .wildlife_image{
    position:relative;
    max-width:51.375rem;
    height:auto;
    margin:1%;
 }
 .wildlife_image2{
    position:relative;
    max-width:51.375rem;
    height:auto;
    margin:1%;
 }
 .wildlife_image3{
    position:relative;
    max-width:51.375rem;
    height:auto;
    margin:1%;
 }
 .dolphin{
    position:block;
    max-width:100%;
    height:auto;
 }
 .sloth{
    position:block;
    max-width:100%;
    height:auto;
 }
 .toucan{
    position:block;
    max-width:100%;
    height:auto;
 }
 .wildlife_title{
    text-align:center;
    font-size:2rem;
    font-weight: bold;
 }
 .wildlife_description{
    text-align:center;
    font-size:1.5rem;
}
 

 /* Styling for activities section */
 .activities{
    width:100%;
    background-color: #38B6FF;
    display:flex;
    justify-content: center;
    font-family:"Glacial Indifference",sans-serif;
 }
 .activities_text{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:10px 0;
 }
 .activities_text h2{
    font-size: 4rem;
    font-weight:bold;
 }
 .activities_text h4{
    font-size: 2rem;
 }
 .activities_image_container{
    width:100%;
     display:flex;
     justify-content:space-around;
     margin:0 auto;
 }
 .activities_image{
    position:relative;
    max-width:38.75rem;
    height:auto;
    margin:1%;
 }
 .activities_image2{
    position:relative;
    max-width:38.75rem;
    height:auto;
    margin:1%;
 }
 .activities_image3{
    position:relative;
    max-width:38.75rem;
    height:auto;
    margin:1%;
 }
 .canoe,.camping, .fishing{
    position:block;
    max-width:100%;
    height:auto;
 }
 /*
 .camping{
    position:block;
    max-width:100%;
    height:auto;
 }
 .fishing{
    position:block;
    max-width:100%;
    height:auto;
 }*/
 .activity_title{
    text-align:center;
    font-size:2rem;
    font-weight: bold;
 }
 .activity_description{
    text-align:center;
    font-size:1.5rem;
}
 /*
 .activities_images img{
    max-width:20%;
    height: auto;
    margin:1%;
 }*/
 /* Styling for Team section */
 .team{
    width:100%;
    background-color: #FF914D;
    font-family:"Glacial Indifference",sans-serif;
 }
 .team_text{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:10px 0;
 }
 .team_text h2{
    font-size: 4rem;
    font-weight:bold;
 }
 .team_image_container{
    width:100%;
     display:flex;
     justify-content:space-around;
     margin:0 auto;
 }

 .team_image{
    position:relative;
    max-width:350px;
    height:auto;
    margin:1%;
 }
 .team_pic{
    position:block;
    max-width:100%;
    height:auto;
 }

 .closing{
    width:100%;
    height:800px;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)),
      url('./images/closing/closing_pic.jpg');
    background:cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .closing_text{
     color:white;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-content:center;
     text-align:center;
     padding:15% 0;
 }
 .closing_text h1{
    font-size: 7rem;
    z-index: 5;
 }
 .closing_text h3{
    font-size: 3rem;
    z-index: 5;
 }
.footer{
    background-color:black;
    color: white;
    width:100%;
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: "Glacial Indifference";
    line-height: 1.6;
}
.footer_text h3{
    font-size: 3rem;
    font-weight:bold;
}
.footer_text h4{
    font-size:1.5rem;
}
.footer_text .copyright{
    padding-top: 4%;
}

 /*
@media only screen and (max-width:480px){
    header{
        height:200px;
        display:flex;
        justify-content: center;
        flex-direction:column;
        margin:0 auto;
        text-align:center;
    }
    .nav_links{
        margin-right: 50%;
        flex-shrink:4;
    }
    .nav_links h3{
        margin: 5px;
    }
    .logo{
        flex-shrink:4;
    }
    .banner{
        margin-top:200px;
    }
    #banner_text{
        font-size:5rem;
    } 
} */
@media only screen and (max-width: 786px){
    header{
        height:150px;
        display:flex;
        justify-content: center;
        flex-direction:column;
        margin:0 auto;
        text-align:center;
    }
    .logo{
        padding-top:6%;
        max-width:40%;
        height:auto;
        margin-left:30%;
    }
    .nav_links{
        margin-left:10%;
        margin-top:3%;
        margin-bottom:7%;
    }
    .banner{
        max-width:100%;
        margin-top:150px;
    }
    .mission{
        max-width:100%;
    }

}
@media only screen and (max-width:480px){
    #footer_title{
        line-height:0;
        text-align:center;
        margin-bottom:1%;
        align-items:flex-start;
        line-height:1;
    }
    .footer_subtext{
        align-items:flex-end;
    }
}
